:root {
  --porcentagem-gradient: 0.55;
  --cor-principal: #BF9B74;
  --toastify-color-progress-light: var(--cor-principal);
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;

  /* Sem highlight */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Fonte */
  font-family: 'Montserrat' !important;
  src: local('Montserrat');

  /* Imagem */
  background: linear-gradient(rgba(0, 0, 0, var(--porcentagem-gradient)), rgba(0, 0, 0, var(--porcentagem-gradient))), url('../static/images/background.webp') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  /* Sem drag */
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #0B0909;
}

body::-webkit-scrollbar-thumb {
  background: #BF9B74;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #8f6f4c;
}

