.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo {
  margin-top: 3vw;
}

.divCard {
  margin-top: 1.4vw;
}

.card {
  border-radius: 8px;
}

.margemTexto {
  margin-top: 2vw;
}

.margemPequena {
  margin-top: 0.9vw;
}

.titulo {
  font-family: 'Montserrat' !important;
  src: local('Montserrat');
  color: #FFFFFF;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.icone {
  color: #BF9B74;
  padding-right: 0.75vw;
  padding-left: 0.75vw;
  height: 25px;
}

.icone:hover {
  color: #FFFFFF;
  cursor: pointer;
}