.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divCard {
  /* Shadow - https://www.cssmatic.com/box-shadow */
  -webkit-box-shadow: 25px 15px 44px -15px rgba(217, 193, 161, 0.24);
  -moz-box-shadow: 25px 15px 44px -15px rgba(217, 193, 161, 0.24);
  box-shadow: 25px 15px 44px -15px rgba(217, 193, 161, 0.24);
}

.logo {
  width: 63px;
  height: 63px;
}

.imagemUm {
  width: 504px;
  height: 504px;
}

.card {
  border-radius: 5px;
}

.titulo {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.tituloDourado {
  background-image: linear-gradient(to right top, #9f7542, #b89269, #d0b192, #e6d0bc, #fcf1e7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  font-size: 30px;
  font-weight: 600;
}

.icone {
  color: #BF9B74;
  padding-right: 0.75vw;
  padding-left: 0.75vw;
  height: 25px;
}

.icone:hover, .iconeBio:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.fotoGrande {
  width: 857px;
  height: 857px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Botões =-=-=-=-=-=-=-=-=-=-=-=- */
.divBotoes {
  margin-top: 1.2vw;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.botao {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  fill: #BF9B74;
  color: #BF9B74;
  background-color: #61CE7000;
  border-style: solid;
  border-width: 1px;
  border-color: #BF9B74;
  border-radius: 3px;
  padding: 6.5px 70px 6.5px 70px;
  margin-left: 15px;
  margin-right: 15px;
}

.botao:hover {
  color: #1A1A1A;
  background-color: transparent;
  background-image: linear-gradient(40deg, #BF9B74 44%, #FFFFFF 100%);
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Bio =-=-=-=-=-=-=-=-=-=-=-=- */
.divBioWrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  /* background-color: pink; */
}

.divBioEsquerda {
  margin-right: -2vw;
  /*width: 50vw;*/
  width: auto;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  /* background-color: yellow; */
}

.imagemBio {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 300px;
}

.divBioDireita {
  width: 30vw;
  block-size: fit-content;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-top: 1.2vw;
  padding-bottom: 2vw;
  border-radius: 5px;
  /* margin-top: 1.98vw; */
  margin-top: 38px;
  /* background-color: blue; */
}

.tituloGigante {
  font-size: 55px;
}

.spanBio {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
}

.spanBio span {
  display: inline-block;
  margin-top: 1vw;
}

.margemIconesBio {
  margin-top: 1.8vw;
}

.iconeBio {
  color: #BF9B74;
  height: 35px;
}

.iconeBio:nth-child(n+2) {
  margin-left: 4vw;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Youtube =-=-=-=-=-=-=-=-=-=-=-=- */
.youtubeContainer {
  margin-top: 1.2vw;
  overflow: hidden;
  position: relative;
  width: 45%;
}

.youtubeContainer::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.youtubeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Margens =-=-=-=-=-=-=-=-=-=-=-=- */
.margemLogo {
  margin-top: 2.85vw;
}

.margemDivImagemUm {
  margin-top: 1.5vw;
}

.margemTitulo {
  margin-top: 2vw;
}

.margemIcones {
  margin-top: 1vw;
}

.margemGigante {
  margin-top: 9vw;
}

.margemFotoGrande {
  margin-top: 5vw;
}

.magemTituloWatchMe {
  margin-top: 5vw;
}

.margemImagemWatchMe {
  margin-top: 1vw;
  cursor: pointer;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
/* hi-res laptops and desktops */
@media (max-width:1281px) {
  /* .container {
    background-color: pink;
  } */

  .margemLogo {
    margin-top: 4vw;
  }

  .margemDivImagemUm {
    margin-top: 2vw;
  }

  .margemTitulo {
    margin-top: 2.5vw;
  }

  .margemIcones {
    margin-top: 1.5vw;
  }

  .divBotoes {
    margin-top: 1.5vw;
  }

  .divBioDireita {
    width: 50vw;
  }

  .youtubeContainer {
    margin-top: 1.8vw;
    width: 60%;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {
  /* .container {
    background-color: blue;
  } */
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
  /* .container {
    background-color: green;
  } */

  .margemLogo {
    margin-top: 7vw;
  }

  .logo {
    width: 39px;
    height: 39px;
  }

  .margemDivImagemUm {
    margin-top: 4vw;
  }

  .margemTitulo {
    margin-top: 5vw;
  }

  .margemIcones {
    margin-top: 2vw;
  }

  .divBotoes {
    margin-top: 3vw;
  }

  .margemFotoGrande {
    margin-top: 12vw;
  }

  .fotoGrande {
    width: 65%;
    height: auto;
  }

  .divBioWrapper {
    width: 96vw;
  }

  .divBioEsquerda {
    height: 10%;
    margin-top: 6vw;
  }

  .divBioDireita {
    width: 80vw;
  }

  .magemTituloWatchMe {
    margin-top: 15vw;
  }

  .margemImagemWatchMe {
    margin-top: 4vw;
  }

  .youtubeContainer {
    margin-top: 4vw;
    width: 90%;
  }

  .margemGigante {
    margin-top: 15vw;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {
  /* .container {
    background-color: grey;
  } */

  .margemLogo {
    margin-top: 12vw;
  }

  .logo {
    width: 87px;
    height: 87px;
  }

  .margemDivImagemUm {
    margin-top: 6vw;
  }

  .imagemUm {
    width: 469px;
    height: 469px;
  }

  .divBotoes {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    text-align: center;
    gap: 10px;
  }

  .botao {
    font-size: 20px;
    width: 280px;
  }

  .divBioWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .divBioDireita {
    width: 95vw;
    margin-top: -1.5vw;
  }

  .imagemBio {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }

  .margemIconesBio {
    margin-top: 3vw;
  }

  .iconeBio:nth-child(n+2) {
    margin-left: 15vw;
  }

  .magemTituloWatchMe {
    margin-top: 10vw;
  }
}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {
  /* .container {
    background-color: turquoise;
  } */

  .margemLogo {
    margin-top: 15vw;
  }

  .logo {
    width: 69px;
    height: 69px;
  }

  .margemDivImagemUm {
    margin-top: 8vw;
  }

  .imagemUm {
    width: 372px;
    height: 372px;
  }

  .divBioEsquerda {
    display: none;
  }

  .divBioDireita {
    margin-top: 0;
  }
}

